@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: "Fredoka", sans-serif;
}

button,
input,
textarea,
select,
option,
a {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}